body {
    background-image: url('../img/bg.png');
    background-size: cover; /* Cover the entire background */
    
    height: 100vh; /* Set the height of the body to full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#event-name{
    width: 70%;
}

#event-dates{
    width: 50%;
    padding-top: 1%;
}

#mobile-only{
    display: none;
}

#slider-container{
    margin-top: 1%;
}

@media (max-width: 767px) {
    body {
        background-position: center center; /* Center the background image */
    }
    .nav-side-elems {
        display: none;
    }

    #event-name,#event-dates{
        padding-top: 5%;
        width: 100%;
    }
    
    #desktop-only{
        display: none;
    }

    #mobile-only{
        display: block;
    }

    #slider-container{
        margin-top: 5%;
    }
}